## Imports
import("nloptr")
importFrom("msm", "rtnorm", "qtnorm")
importFrom("utils", "capture.output", "installed.packages")
importFrom("stats", "pnorm", "dnorm", "qnorm", "punif", "qunif", "runif",
           "quantile", "var", "sd", "cor", "dt", "pt", "qt")
importFrom("graphics", "plot", "abline", "points", "par", "polygon",
           "title", "axis", "box", "lines", "plot.new", "plot.window")
importFrom("grDevices", "adjustcolor")
importFrom("nloptr", "auglag")
## Exports
# Methods
S3method(plot, power)
S3method(plot, mdes)
S3method(plot, cosa)
export(plot.power)
export(plot.mdes)
export(plot.cosa)
# COSA
export(cosa.bird2f1)
export(cosa.bird2r1)
export(cosa.bird2)
export(cosa.bird3r1)
export(cosa.bird3)
export(cosa.bird4r1)
export(cosa.bird4)
export(cosa.crd2r2)
export(cosa.crd2)
export(cosa.bcrd3f2)
export(cosa.bcrd3r2)
export(cosa.bcrd4r2)
export(cosa.crd3r3)
export(cosa.crd3)
export(cosa.bcrd4f3)
export(cosa.bcrd4r3)
export(cosa.crd4r4)
export(cosa.crd4)
export(vectorize.cosa)
# MDES
export(mdes.ird1r1)
export(mdes.ird)
export(mdes.bird2f1)
export(mdes.bird2r1)
export(mdes.bird2)
export(mdes.bird3r1)
export(mdes.bird3)
export(mdes.bird4r1)
export(mdes.bird4)
export(mdes.crd2r2)
export(mdes.crd2)
export(mdes.bcrd3f2)
export(mdes.bcrd3r2)
export(mdes.bcrd4r2)
export(mdes.crd3r3)
export(mdes.crd3)
export(mdes.bcrd4f3)
export(mdes.bcrd4r3)
export(mdes.crd4r4)
export(mdes.crd4)
# Power
export(power.ird1r1)
export(power.ird)
export(power.bird2f1)
export(power.bird2r1)
export(power.bird2)
export(power.bird3r1)
export(power.bird3)
export(power.bird4r1)
export(power.bird4)
export(power.crd2r2)
export(power.crd2)
export(power.bcrd3f2)
export(power.bcrd3r2)
export(power.bcrd4r2)
export(power.crd3r3)
export(power.crd3)
export(power.bcrd4f3)
export(power.bcrd4r3)
export(power.crd4r4)
export(power.crd4)
# moments & inspect
export(tnorm.moment)
export(unif.moment)
export(emp.moment)
export(inspect.score)
